html {
	scroll-behavior: smooth;
}

body {
	animation: fadeInAnimation ease 1.25s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.projects-container {
	position: relative;
	width: 80%;
	height: 22%;
	border: 0.188em solid gray;
	border-radius: 0.625em;
	top: 31.25em;
	left: 12%;
	background-color: #1d1d1f;
	overflow: auto;
	white-space: nowrap;
	margin-bottom: 40%;
	display: flex;
}

.projects-label {
	position: relative;
	width: 80%;
	height: 22%;
	max-height: 22%;
	top: 31.25em;
	left: 12%;
}

.project-container {
	position: relative;
	width: 7.5em;
	height: 60%;
	margin: 0.625em;
	max-width: 100%;
}

img {
	border-radius: 30%;
}

.project-container img {
	transform: translateX(0.625em);
}

.project-container h5 {
	text-overflow: ellipsis;
	overflow: hidden;
	width: 7.5em;
	text-align: center;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
