body,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #dbdbdb
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
	margin-bottom: 15px
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	background-color: #1d1d1f;
}

h1 {
	font-size: 2.5em
}

h2 {
	font-size: 2em
}

h3 {
	font-size: 1.75em
}

h4 {
	font-size: 1.5em
}

h5 {
	font-size: 1.25em
}

h6 {
	font-size: 1em
}

a:not(.nolinkcolor) {
	color: #007bff;
	text-decoration: none
}

.nolinkcolor {
	color: #dbdbdb;
	text-decoration: none;
}

a:hover {
	text-decoration: underline
}

ol,
ul {
	padding-left: 20px
}

img {
	max-width: 100%;
	max-height: 100%;
	height: auto
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%)
}

@media (max-width:768px) {
	.flex {
		flex-direction: column
	}
}