.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	color: white;
}

footer {
	padding: 7.5pt;
	text-align: center;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.home-button {
	margin-left: 25px;
	text-align: left;
}

.discord-link {
	margin-right: 50px;
	text-align: center;
}

.discord-link h5 {
	display: inline-block;
	vertical-align: top;
	color: #dbdbdb;
}
