.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	color: white;
	z-index: 1000;
	background-color: #1d1d1f72;
	backdrop-filter: blur(10px);
}

footer {
	padding: 7.5pt;
	text-align: center;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.home-button {
	margin-left: 1.563em;
	text-align: left;
}

.discord-link {
	margin-right: 1.125em;
	text-align: center;
}

.discord-link h5 {
	display: inline-block;
	vertical-align: top;
	color: #dbdbdb;
}
